<div>
  <h1>Listado de productos <i class="fas fa-gifts"></i></h1>

  <div class="container">
    <nz-table class="table-data" #basicTable [nzData]="listOfData" [nzScroll]="{ y: '240px' }">
      <thead>
        <tr>
          <th nzWidth="150px">Nombre</th>
          <th nzWidth="150px">Descripción</th>
          <th nzWidth="150px">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.nombre }}</td>
          <td>{{ data.descripcionP }}</td>
          <td>{{ data.precio }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
