<div>
  <h1>Listado de clientes <i class="fas fa-users"></i></h1>

  <div class="container">
    <nz-table class="table-data" #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>NIT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.nombre }}</td>
          <td>{{ data.tel }}</td>
          <td>{{ data.nit }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
